*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;color: black;cursor: pointer;}
html { scroll-behavior: smooth; } 
body{font-family: 'Noto Sans KR', sans-serif;}
/*    point : rgb(237,125,49);  주황*/
/*    main : rgb(220,218,218);  연그레이*/
/*    sub : rgb(249,230,177);  노랑*/
/* font-family: 'Black Han Sans'; */
/* font-family: 'Gowun Batang'; */
/* font-family: 'Gowun Dodum'; */
/* font-family: 'NotoSerifKR'; */
/* 보더라인: rgba(177, 175, 175, 0.568); */



/* *************** top_banner ******************** */



.banner_text{
    background-color: rgba(249, 230, 177, 0.479); 
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}






/* *************** header ******************** */


.web_header_outer,
.web_header,
.web_side_menu,
.web_sns_box,
.footer_sns_box{
    display: none;
}

.header_outer{
    position: relative;
    overflow: hidden;
}

.header{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgb(220,218,218);
    position: fixed;
    background-color: white;
    z-index: 9999;
    overflow: hidden;

}


.header .side_menu ul li .search .search_side{
    border-radius: 10px;
    border: 1px solid #ccc;
}



#lnb_chk{
    display: none;
}

#lnb_chk:checked ~ .label .open_chk{display: block;}
#lnb_chk ~ .label .open_chk{display: none;}

#lnb_chk:checked ~ .label .close_chk{display: none;}
#lnb_chk ~ .label .close_chk{display: block;}

#lnb_chk:checked ~ .lnb_menu{margin-left: 0px; transition: all 1s;}
#lnb_chk ~ .lnb_menu{margin-left: -1000px; transition: all 1.5s;}

.lnb_menu{
    position: fixed;
    /* 화면에 꽉 채우기 위해 absolute에서 변경 */
    top: 81px;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.lnb_menu li {
    height: 60px;
    line-height: 60px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 15px;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: bold;
    position: relative;
}


.lnb_menu ul li i.first{
    width: 30px;
    margin-right: 10px;
    text-align: center;
    color:  rgb(237,125,49); 
    font-size: 18px;
}


.lnb_menu ul li i.last{
    position: absolute;
    width: 30px;
    font-size: 20px;
    top:50%;
    transform: translateY(-50%);
    right: 3%;
}



.lnb_menu li:nth-child(3) i{font-size: 25px;}
.lnb_menu li:nth-child(5) i{font-size: 25px;}

.lnb_menu li a{
    width: 100%;
}


.lnb_menu p{
    text-align: justify;
}

.lnb_menu .business_title{
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 20px;
    text-align: left;
    font-family: 'Comic Neue', cursive;
    font-size: 4vh;
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
    
}

.lnb_menu p.business_eng{
    padding: 20px 5% 10px 5%;
    line-height: 20px;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    font-size: 11px;
    text-align: left;
}

.lnb_menu .business_right{
    padding: 20px 5% 10px 5%;
    line-height: 20px;
    font-family: 'Gaegu', cursive;
    font-weight: bold;
    font-size: 11px;
    text-align: right;
    font-weight: bolder;
}

/* .lnb_menu p.business_kor{
    padding: 20px 5% 10px 5%;
    line-height: 20px;
    font-family: 'IBM Plex Sans KR', sans-serif;
} */

.label{
    float: left;
    width: 10%;
    height: 50px;
    line-height: 60px;
    text-align: center;
}

.logo{
    float: left;
    width: 73%;
    height: 50px;
    line-height: 80px;
    text-align: center;
}

.logo img{
    height: 80%;
}

.side_menu{
    width: 80px;
    position: absolute;
    right: 0;
}

.side_menu li{
    float: left;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}


.side_menu li:nth-child(2){
    margin-left: 25px;
}


#search_box{display: none;}

#search_box:checked ~ .label_search .search_close{display: block;}
#search_box ~ .label_search .search_close{display: none;}


#search_box:checked ~ .label_search .search_open{display: none;}
#search_box ~ .label_search .search_open{display: block;}



#search_box:checked ~ .search{
    display: block;
    width: 87%;
}

#search_box ~ .search{display: none;}


.header .side_menu ul li .search{
    position: fixed;
    left: 2px;
    top: 26px;
}


.header .side_menu ul li .search .search_side{
    width:100%; 
    height:35px;
}



.box {
    position: relative;
  }
  
  .wave {
    position: absolute;
    background: rgb(249,230,177); 
    width: 120px;   
    height: 110px;
    transform-origin: 50% 48%;
    border-radius: 40%;
    animation: drift 3s infinite linear;
    opacity: 0.7;
    top: -10px;
    left: 50%;
  }

  .wave.-two {
    animation: drift 5s infinite linear;
    opacity: 0.3;
  }


  .wave.-three {
    animation: drift 7s infinite linear;
    opacity: 0.3; 
  }
  

  @keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }
  


/* *************** main ******************** */

    .main{
        width: 100%;
        margin: 0 auto;
        position: relative;
        height: auto;
        margin-top: 85px;
    }

    .main .main_content{
        position: relative;
    }

    .main .main_content p{
        position: absolute;
        bottom: 0;
    }


    .main .main_content p.main_title{
        width: 240px;
        position: absolute;
        bottom: 45px;
        font-size: 20px;
        font-weight: 700;
        margin-left: 40px;
    }


    .main .main_content p.sub_title{
        position: absolute;
        bottom: 25px;
        margin-left: 40px;
        font-size: 11px;
        font-weight: 700;
    }



    .main img{
        width: 100%;
    }

    .main .slick-arrow{
        border: none;
        font-size: 0;
        visibility: hidden;
    }
    

    .main .slick-prev::before{
        content: "\f053";
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        visibility: visible;
        position: absolute;
        top: 45%;
        left: 10px;
        font-size: 30px;
        color: white;
        opacity: 0.5;
        z-index: 11;
    }
    
    
    .main .slick-next::before{
        content: "\f054";
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        visibility: visible;
        position: absolute;
        top: 45%;
        right: 10px;
        font-size: 30px;
        color: white;
        opacity: 0.5;
    }

    .main .slick-dots {
        position: absolute;
        width: 148px;
        left: 50%;
        transform: translateX(-50%);
    }

    .main .slick-dots button {
        font-size: 0;
        float: left;
        width: 32px;
        height: 2px;
        margin-right: 5px;
        border: none;
        cursor: pointer;
    }


    .main .slick-dots .slick-active button{
        background-color: black;
        border: none;
        height: 2px;
    }

/* *************** content ******************** */

.content{
    padding: 0 10px;
    overflow: hidden;
    margin-top: 40px;
}

.content h2{
    margin-bottom: 10px;
    font-size: 20px;
    border-bottom: 1px solid rgb(220,218,218);
    padding-bottom: 10px;
    position: relative;
}

.content h2 button {
    position: absolute;
    border: none;
    font-size: 10px;
    bottom: 10px;
    right: 0;
    width: 60px;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    border-radius: 5px;
    color: black;
}


.content h2 button:hover{
    background-color: rgb(249,230,177);
}

.content li{
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.hot_issue, .best_content{
    height: 200px;
    margin-bottom: 25px;
}

.best_content ul li span{
    display: inline-block;
    background-color: rgb(249,230,177);
    border-radius: 3px;
    line-height: 20px;
    height: 17px;
    font-size: 11px;
    font-family: 'NotoSerifKR';
    padding: 2px;

}


.best_content ul li:nth-child(1) .fa-youtube{color:red}
.best_content ul li:nth-child(2) .fa-facebook-square{color:rgb(41, 19, 233);}
.best_content ul li:nth-child(3) .fa-blog{color: rgb(44, 214, 44);}
.best_content ul li:nth-child(4) .fa-youtube{color:red}






.best_content ul li:first-child .web_sns_box .fa-youtube {
    color: red;
}

.best_content ul li:first-child span,
.best_content ul li:last-child span
{
    background-color: red;
    color: white;
}

.best_content ul li:nth-child(3) span
{
    background-color: rgb(44, 214, 44);
    color:white;
}

.best_content ul li:nth-child(2) span
{
    background: rgb(41, 19, 233);
    color: white;
}


.sns_box .sns{
    float: left;
    width: 32%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgb(220 218 218 / 66%);
    font-weight: bold;
    font-size: 13px;

}

.sns_box .youtube i{
    color: red;
}

.sns_box .insta i{
    color:rgb(41, 19, 233);
}

.sns_box .blog i{
    color:  rgb(44, 214, 44);
}



.sns_box .youtube,
.sns_box .insta{
    margin-right: 2%;
}


.sns_box span{
    display: none;
}


/* *************** customer_service ******************** */


.customer_service{
    padding: 0 10px;
    overflow: hidden;
    margin-top: 40px;   
    margin-bottom: 40px;
    cursor: pointer;
}

.customer_service .service{
    float: left;
    width: 49%;
    height: 150px;
    background-color:rgb(243, 233, 205);
    position: relative;
    overflow: hidden;
    text-align: center;
    overflow: hidden;
}




.customer_service .service:nth-child(1){margin-right: 2%;}
.customer_service .service:nth-child(2){margin-bottom: 3%;}
.customer_service .service:nth-child(3){margin-right: 2%;}


.customer_service .service img{
    position: relative;
    z-index: 1;
    transition: all 0.8s;
    width: 80px;
    margin-top: 20px;
}

.customer_service .title{
    z-index: 1;
    position: relative;
    transition: all 0.8s;
    font-size: 13px;
    margin-top: 10px;
}


.customer_service .service .box_effet{
    position: absolute;
    top: -300px;
    background-color: rgb(238, 221, 173);
    height: 300px;width: 100%;
    color: rgb(238, 221, 173);
}



 .customer_service .service:hover .box_effet{
    position: absolute;
    top: 0;
    transition: all 0.8s;
}

.customer_service .service:hover img{
    scale: 1.2;
}



/* .mainCon2 li::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -100%;
    transition: .5s ease;
    background: #E1D5C3;
    touch-action: none;
    pointer-events: none;
}
 */



/* *************** visual_main ******************** */

.visual_main{
    position: relative;
    height: auto;
    margin-top: 20px;
}

.visual_main img{
    width: 100%;
}

  .visual_main .slick-arrow{
    border: none;
    font-size: 0;
    visibility: hidden;
}  
 
/* 배너 화살표 숨김 */
.visual_main .slick-prev::before{
    /* content: "\f053"; */
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    visibility: visible;
    position: absolute;
    top: 38%;
    left: 10px;
    z-index: 1;
    font-size: 23px;
    color: white;
    opacity: 0.5;
}

.visual_main .slick-next::before{
    /* content: "\f054"; */
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    visibility: visible;
    position: absolute;
    top: 38%;
    right: 10px;
    z-index: 1;
    font-size: 23px;
    color: white;
    opacity: 0.5;
}


/* *************** tab_menu_outer ******************** */



.tab_menu_outer{
    background-color: rgb(220,218,218);
    margin-top: 40px;
    overflow: hidden;
}


.tab_menu_outer input{
    display: none;
}



.content01,
.content02,
.content03{
    display: none;
}


#tab_01:checked ~ .content_box .content01{display: block;}
#tab_02:checked ~ .content_box .content02{display: block;}
#tab_03:checked ~ .content_box .content03{display: block;}



.tab_menu_box{
    float: left;
    margin-top: 10%;
    width: 25%;
    margin-left: 5%;
}


.tab_menu_box .tab_menu{
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 10%;
    font-weight: bold;
    color: #3c3b3b;
    font-size: 16px;
    letter-spacing: 0.5px;
    /* font-family: 'Black Han Sans'; */
    /* background-color: rgba(250, 249, 249, 0.39); */
    /* border: 1px solid rgb(220,218,218); */
}



.tab_menu_box .active{
    animation: active_blink 1.5s infinite;
}

@keyframes active_blink{
    from{
        background-color: rgb(220,218,218);
        border-radius: 10px;
    }
    to{
        background-color: rgb(161, 160, 158);
        border-radius: 10px;
    }
}


.content_box{
    float: left;
    width: 50%;
    margin:0 10%;
}

/* .content_slick{width: 100%;} */

.content_slick img{
    width: 50%;
}

.content_box .slick-arrow{
    border: none;
    font-size: 0;
    visibility: hidden;
}

.content_box .slick-prev::before{
    /* 아이콘 숨김 */
    /* content: "\f053"; */
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    visibility: visible;
    position: absolute;
    top: 35%;
    left: 10px;
    font-size: 30px;
    color: white;
    opacity: 0.5;
}

.content_box .slick-next::before{
    /* 아이콘 숨김 */
    /* content: "\f054"; */
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    visibility: visible;
    position: absolute;
    top: 35%;
    right: 10px;
    font-size: 30px;
    color: white;
    opacity: 0.5;
}

.content_slick .title{
    font-weight: bold;
    margin-top: 5px;
    font-size: 13px;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content_slick .title_sub{
    font-size: 11px;
    margin-top: 3px;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



/* 슬릭 dots 변경 */

.tab_menu .slick-dots {
    position: absolute;
    top: 10px;
} 
 


.tab_menu .slick-dots button {
    font-size: 0;
    float: left;
    width: 32px;
    height: 2px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    display: none;
}


.tab_menu .slick-dots .slick-active button{
    background-color: black;
    border: none;
    height: 2px;
}



/* *************** icon_box ******************** */

.icon_box{
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
}


.icon_box ul li{
    float: left;
    width: 32%;
    margin-right: 2%;
    text-align: center;
    margin-bottom: 13px;
}

.icon_box ul li p{
    font-weight: bold;
    margin-top: 3px;
    font-size: 12px;
}

.icon_box ul li:nth-child(3){
    margin-right: 0%;
}


.icon_box ul li img{
    width: 100px;
    height: 100px;
}


/* ************* product ******************** */

.product{
    padding: 0 10px;
    overflow: hidden;
    margin-bottom: 50px;
}

.product h2{
    margin-bottom: 10px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(220,218,218);
    padding-bottom: 10px;
    position: relative;
}

.product h2 button {
    position: absolute;
    border: none;
    font-size: 10px;
    bottom: 10px;
    right: 0px;
    width: 60px;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    border-radius: 5px;
    color: black;
}



/* .product .video{
    margin: 0 auto;
    text-align: center;
}

.product video{
    height: 300px;  
} */

.product video{
    width: 100%;
}

.product .product_text{
    display: none;
}


/* ************* brand_box ******************** */


.brand_box{
    overflow: hidden;
    padding: 2%;
    margin-bottom: 20px;
}


.brand_box h2{
    margin-bottom: 10px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(220,218,218);
    padding-bottom: 10px;
    position: relative;
}

.brand_box h2 button {
    position: absolute;
    border: none;
    font-size: 11px;
    bottom: 10px;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(220,218,218);
    animation: effect 1.5s step-end infinite;
    margin-left: 10px;
    width: 70px;
    color: black;
}

@keyframes effect{
    50% {opacity: 0;}
}




.brand_box .brand_top,
.brand_box .brand_bottom{
    width: 100%;
}


.brand_box .brand_top li ,
.brand_box .brand_bottom li{
    float: left;
    width: 49%;
    overflow: hidden;
}

.brand_box .brand_top li{
    margin-bottom: 2%;
}

.brand_box .brand_top li:nth-child(1),
.brand_box .brand_bottom li:nth-child(1){
    margin-right: 2%;
}

.brand_box ul li .brand_img_box{
    position: relative;
    overflow: hidden;
    height: 100%;
}

.brand_box ul li .brand_img_box img{
    width: 100%;

    height: auto;
    display: block;
}

.brand_box ul .brand_img_box .brand_text{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    font-size: 15px;
    text-align: center;
    position: absolute;
    transition: all 0.3s;
    bottom: 0px;
}






/* ************* footer ******************** */

.footer{
    background-color: rgb(249,230,177); ;
    height: 220px;
    position: relative;
}

.footer .footer_img img{
    width: 130px;
    height: 50px;
    margin-top: 20px;
}

#fam_site{
    position: absolute;
    width: 130px;
    height: 30px;
    right: 10px;
    top: 30px;
    font-size: 13px;
    color: black;
}

.footer ul li{
    padding-left: 15px;
}

.footer ul li p{
    font-size: 13px;
}

.footer ul li p span{
    font-size: 11px;
    border-left: 1px solid #5c5a5a;
}

.footer li .tel{
    font-size: 20px;
    font-weight: bold;
}

.footer li .day{
    float: left;
}


.footer{
    position: relative;
}


.footer .btn ul li.sns_btn a{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 120px;
    right: 12px;
    color: #666363;
    background-color: #fdf904;
    border-radius: 30px;
    border: 1px solid #f9f284;
}

.footer .btn ul li.sns_btn a i{
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    padding-left: 10px;
    animation: motion 0.3s linear 0s infinite alternate;
}


@keyframes motion {
	0% {margin-top: -3px;} 
	50% {margin-top: 0px;} 
	100% {margin-top: 1px;}
  }



.footer .btn ul li.top_btn a{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 70px;
    right: 12px;
    color: #03030362;
    background-color: #eee;
    border-radius: 30px;
    border: 1px solid #ccc;
}




.footer .btn ul li.bottom_btn a{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 12px;
    color: #03030362;
    background-color: #eee;
    border-radius: 30px;
    border: 1px solid #ccc;
}

.footer .btn ul li.top_btn a i,
.footer .btn ul li.bottom_btn a i{
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    padding-left: 9px;
}

.footer .btn ul li.bottom_btn a i{
    padding-top: 2px;
}

.footer .footer_sns_box{
    margin-right: 30px;
    float: right;
    overflow: hidden;

}

.footer .footer_sns_box ul{
    justify-content: end;
    font-size: 20px;
    display: inline-block;

}
.footer .footer_sns_box ul li{float: left;}


.footer .footer_sns_box ul li:nth-child(1) .footer_sns{color: red;}
.footer .footer_sns_box ul li:nth-child(2) .footer_sns{color: rgb(41, 19, 233);}
.footer .footer_sns_box ul li:nth-child(3) .footer_sns{color: rgb(44, 214, 44);}






/* ************* media ******************** */




@media all and ((min-width:601px)){





    /* header */

    .web_header_outer,
    .web_header,
    .web_side_menu,
    .web_sns_box,
    .tab_banner,
    .banner{
        display: none;
    }



    .header_outer{
        position: relative;
        overflow: hidden;
        margin-bottom: 80px;
    }
    
    .header{
        width: 100%;
        height: 100px;
        border-bottom: 1px solid rgb(220,218,218);
        position: fixed;
        background-color: white;
        z-index: 9999;
    }
    

    .header .side_menu ul li .search{
        position: fixed;
        left: 13px;
        top: 26px;
    }

    .header .side_menu ul li .search .search_side{
        width: 99%;
        height: 45px;
        font-size: 20px;
        border-radius: 10px;
        border: 1px solid #ccc;
    }
    
        
    #search_box:checked ~ .search{
        width: 90%;
    }




    .lnb_menu{
        position: fixed;
        top: 101px;
        background-color: rgba(249, 230, 177);
        z-index: 100;
        width: 65%;
    }


    .lnb_menu li{
        height: 130px;
        line-height: 130px;
        padding-left: 5%;
        font-size: 20px;

    }


    .label{
        position: absolute;
        top: 17px;
        height: 60px;
        line-height: 112px;
        font-size: 20px;
    }

    .logo{
        width: 95%;
    }

    .logo img{
        height: 135%;
    }

    .side_menu{
        width: 110px;
        position: absolute;
        right: 0;
    }

    .side_menu li{
        height: 80px;
        line-height: 65px;
        font-size: 25px;
    }

    .side_menu li:first-child{
        margin-right: 14px;
    }





    .hot_issue{
        float: left;
        width: 49%;
        margin-right: 2%;
    }

    .best_content{
        float: left;
        width: 49%;
    }

    .sns_box span{
        display :inline;
    }

    /* main */

    .main{
        margin-top: 100px;
    }

    .main .main_content p.main_title{
        width: 350px;
        bottom: 65px;
        font-size: 28px;
    }

    .main .main_content p.sub_title{
        bottom: 40px;
        font-size: 13px;
    }


    /* tab_menu */

    .tab_menu_outer {
        margin-top: 35px;
    }



    .tab_menu_box{
        margin-top: 8%;
    }


    .tab_menu_box .tab_menu{
        width: 150px;
        height: 70px;
        line-height: 70px;
        font-size: 20px;
    }

    .content_slick img {
        width: 60%;
        margin-left: 20%;
    }

    .content_slick .title {
        margin-left: 20%;
        font-size: 16px;
    }

    .content_slick .title_sub {
        font-size: 13px;
        margin-left: 20%;
    }

    .tab_menu_box .tab_menu {
        border-radius: 30px;
        color: #3c3b3b;
    }

    /* *************** visual_main ******************** */

    .visual_main {
        margin-top: 35px;
    }


    .visual_main .slick-prev::before{
        top: 45%;
        left: 10px;
        font-size: 30px;
    }
    
    .visual_main .slick-next::before{
        top: 45%;
        right: 10px;
        font-size: 30px;
    }
    



    /* icon_box */


    .icon_box{
        margin-top: 8%;
        margin-left: 1%;
        margin-bottom: 15px;
    }

    .icon_box ul{
        float: left;
        width: 50%;
        margin-bottom: 30px;
    }

    .icon_box ul li{
        width: 31%;
    }

    
    .icon_box ul li.icon_last{
        margin-left: 1%;
    }


    .icon_box ul li img{
        width: 100%;
        height: auto;
        display: block;
    }
    
    .icon_box ul li p{
    font-weight: bold;
    margin-top: 5px;
    font-size: 17px;
}


    /* product */


    .product{
        margin-bottom: 30px;
    }

    .product h2{
        font-size: 25px;
    }
    
    .product .product_title{
        display: none;
    }
 
    .product .product_text h2{  
        margin-bottom: 10px;

    }

    .product .product_text{
        margin-top: 20px; 
        margin-bottom: 20px;  
        display: block;
        white-space:normal;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
    }

    .product .product_text p{
        white-space:normal;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
    }


    /* brand zone */
    .brand_box {
        margin-bottom: 70px;
    }

.brand_box .brand_top{
    float: left;
    width: 49%;
}

.brand_box .brand_bottom{
    float: left;
    width: 50%;
}


.brand_box .brand_top{
    margin-right: 1%;
}

.brand_box h3 span {
    width: 35%;
}

.brand_box .brand_top li {
    margin-bottom: 0%;
}


.brand_box ul .brand_img_box .brand_text {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    font-size: 15px;
    text-align: center;
    position: absolute;
    transition: all 0.3s;
    bottom: 0px;
}



/* customer_service */
.customer_service .service {
    float: left;
    width: 25%;
    border-right: 1px solid  rgb(238, 221, 173);
    box-sizing: border-box;
}

.customer_service .service:nth-child(1) {
    margin-right: 0%;
}

.customer_service .service:nth-child(3) {
    margin-right: 0%;
}

.customer_service .service:nth-child(4) {
    border-right: none;
}



/* footer */


.footer{
    height: 250px;
}

.footer ul li{
    padding-left: 25px;
}

.footer .footer_img img {
    width: 150px;
    height: 50px;
    margin-top: 20px;
}



.footer ul li p {
    font-size: 17px;
}

#fam_site {
    position: absolute;
    width: 150px;
    height: 30px;
    right: 10px;
    top: 30px;
    font-size: 15px;
}


.footer .footer_sns_box{
    display: block;
    margin-right: 30px;
    float: right;
    overflow: hidden;

}

.footer .footer_sns_box ul{
    justify-content: end;
    font-size: 20px;
    display: inline-block;

}
.footer .footer_sns_box ul li{float: left;}


.footer .footer_sns_box ul li:nth-child(1) .footer_sns{color: red;}
.footer .footer_sns_box ul li:nth-child(2) .footer_sns{color: rgb(41, 19, 233);}
.footer .footer_sns_box ul li:nth-child(3) .footer_sns{color: rgb(44, 214, 44);}




}

@media all and ((min-width:1024px)){




    /* header */

    .header_outer,
    .header,
    .side_menu,
    .sns_box,
    .banner,
    .tab_banner,
    .banner_text{
        display: none;
    }


    .web_header_outer,
    .web_header,
    .web_side_menu,
    .web_sns_box{
        display: block;
    }

    .visual_main,
    .content,
    .icon_box,
    .product,
    .brand_box,
    .tab_menu,
    .footer,
    .web_banner,
    .web_lnb_menu,
    .title_box,
    .customer_service_box{
        width: 1024px;
        margin: 0 auto;
    }



    .web_header_outer{
        height: 200px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgb(220,218,218);
        position: relative;
    }

    .web_header_outer .web_logo{
        animation-duration: 3s;
        animation-name: slidein;
    }

    @keyframes slidein {
        0%{opacity: 0;margin-left: -30%;}
        100%{opacity: 1; margin-left: 0%;}
      }


    .web_header_outer .web_logo{
        text-align: center;
    }

    .web_header_outer .web_logo img{
        width: 300px;
        height: 90px;
        z-index: 10;
        position: relative;
    }

    
    .web_lnb_menu_outer .web_lnb_menu{
        width: 600px;
        margin: 0 auto;
        text-align: center;
        padding-left: 265px;
    }

    .web_lnb_menu_outer .web_lnb_menu li{
        float: left;
        height: 60px;
        line-height: 60px;
        font-size: 18px;
        margin-right: 35px;
        font-family: 'IBM Plex Sans KR', sans-serif;
        font-weight: 700;
    }

    .web_lnb_menu_outer{
        width: 100%;
    }

    .lnb_menu_down_box{
        display: none;
    }

    .lnb_menu_down_box{
        width: 100%;
        background-color: rgba(249, 230, 177, 0.788);
    }

    .web_lnb_menu_outer .web_lnb_menu li:hover a{
        border-bottom: 1px solid rgb(237,125,49);
        box-sizing: border-box;
    }

    .web_lnb_menu_outer:hover .lnb_menu_down_box{
        display: block;
        position: absolute;
        top: 200px;
        background-color: rgba(249, 230, 177, 0.836);
        z-index: 9999;
        height: 350px;
    }




    .lnb_menu_down{
        width: 1024px;
        margin: 0 auto;
    }





    .web_lnb_menu_outer:hover .lnb_menu_down ul{
        float: left;
    }

    .lnb_menu_down ul{
        margin: 0 auto;
        margin-right: 30px;
        font-family: 'Noto Sans KR', sans-serif;
    }


    .lnb_menu_down ul li a{
        font-size: 15px;
        height: 50px;
        line-height: 50px;
    }


    .web_header_outer .lnb_menu_down_box ul:nth-child(1){margin-left: 330px; margin-right: 40px;}
    .web_header_outer .lnb_menu_down_box ul:nth-child(2){margin-right: 40px;}
    .web_header_outer .lnb_menu_down_box ul:nth-child(3){margin-right: 30px;}
    .web_header_outer .lnb_menu_down_box ul:nth-child(4){margin-right: 45px;}




    

    /* side_menu */


    .web_header_outer .web_side_menu{
        height: 40px;
        line-height: 30px;
        /* background: linear-gradient(rgba(237, 124, 49, 0.473) -90%, white); */
        text-align: right;
        width: 100%;
        position: relative;

    }

    .web_header_outer .web_side_menu ul{
        float: right;
        width: 180px;
    }

        
    .web_header_outer .web_side_menu ul li a,
    .web_header_outer .web_side_menu ul{
        color: #313131;
    }


    .web_header_outer .web_side_menu ul li span{
        margin-right: 10px;
        font-size: 12px;
    }

    .web_header_outer .web_side_menu ul li i:hover{
        color: rgb(237,125,49);
    }


    .web_header_outer .web_side_menu ul li:nth-child(1){
        margin-right: 15px;
    }

    .web_header_outer .web_side_menu ul li{
        font-size: 15px;
        float: left;
    }
    
    
    #web_search_box{display: none;}
    
    #web_search_box:checked ~ .web_label_search .search_close{display: block;}
    #web_search_box ~ .web_label_search .search_close{display: none;}
    
    
    #web_search_box:checked ~ .web_label_search .search_open{display: none;}
    #web_#search_box ~ .web_label_search .search_open{display: block;}
    
    
    
    #web_search_box:checked ~ .web_search{
        display: block;
        width: 100%;
        z-index: 9999;
    }
    
    #web_search_box ~ .web_search{display: none;}
    

    .web_side_menu{
        position: relative;
    }


    .web_search{
        position: absolute;
        top: 50px;
        left: -55px;
    }

    .web_search input{
        width: 290px;
        height: 35px;
        font-size: 15px;
        border-radius: 10px;
        border: 1px solid #ccc;
    }

    /* main */
    .main {
        width: 1024px;
        margin-top: 15px;
    }

    .main img {
        width: 120%;
        height: 100%;
    }

    .main .main_content p.main_title{
        width: 500px;
        bottom: 80px;
        font-size: 40px;
    }

    .main .main_content p.sub_title{
        bottom: 45px;
        font-size: 18px;
    }
        

    .main .slick-dots {
        position: absolute;
        width: 250px;
        left: 50%;
        transform: translateX(-50%);
    }


    .main .slick-dots button {
        font-size: 0;
        float: left;
        width: 50px;
        height: 4px;
        margin-right: 5px;
        border: none;
    }
    

    .main .slick-dots .slick-active button{
        background-color: black;
        border: none;
        height: 4px;
    }


    /* visual_main */


    .visual_main{
        margin-top: 15px;
        margin-bottom: 0px;
        
    }



   /* icon_box */

   .icon_box {
    margin-top: 4%;
    margin-bottom: 2%;
}

   .icon_box ul li{
    overflow: hidden;
    height: 180px;
   }

   .icon_box ul li img{
    width: 80%;
    margin: 0 auto;
    transition: all 0.3s;
}

   .icon_box ul li img:hover{
    width: 90%;
    overflow: hidden;
   }



   .icon_box ul li:hover p{
    text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.719);
   }


   .icon_box ul li p{
    font-size: 20px;
   }



    /* content */
    .content {
        margin-top: 80px;
    }

    .content .content_left{
        float: left;
        width: 67%;
        margin-right: 3%;
    }

    .content .content_right{
        float: left;
        width: 30%;
    }
    .content li a:hover {
    color: rgb(171, 169, 169);
}

    .web_sns_box .sns {
    width: 100%;
    height: 65px;
    line-height: 65px;
    text-align: center;
    /* background-color: rgb(220,218,218); */
    /* border-radius: 20px; */
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
    transition: all 0.3s;
    border: 1px solid rgb(220,218,218);
    }

    .web_sns_box .sns a{
        color: black
    }

    .web_sns_box .youtube i{
        color: red;
    }

    .web_sns_box .insta i{
        color:rgb(41, 19, 233);
    }

    .web_sns_box .blog i{
        color:  rgb(44, 214, 44);
    }

    .web_sns_box .sns:hover {
        font-size: 17px;
        background-color: rgb(220,218,218);
        border-radius: 0 0px 0px 0px;
    }



    /* product */


    .product{
        margin-bottom: 100px;
    }

    .product .video{
        float: left;
        width: 48%;
        margin-right: 2%;
    }

    .product .product_text{
        float: left;
        width: 50%;
    }

    .product .product_text {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .product h2 {
        margin-top: 1px
    }



    /* brand */

    .brand_box{
        margin-top: 0px;
        margin-bottom: 65px;
    }

    .brand_box h3{
        margin-bottom: 50px;
    }


    .brand_box ul .brand_img_box .brand_text{
        transition: all 0.3s;
        bottom: -40px;
    }
    
    .brand_box ul li:hover .brand_text{
        bottom: 0px;
    }


    .brand_box ul li img{
        transition: all 0.3s;
    }

    .brand_box ul li:hover img{
        scale: 1.3;
    }

    .brand_box h3 span {
        width: 43%;
    }

    /* customer_service_box*/
    .customer_service {
        padding: 0px;
    }

    /* footer */

    .footer_outer{
        width: 100%;
        background-color: rgb(249,230,177); 
    }

    .footer ul li p {
        font-size: 13px;
    }



}

