*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;color: black;cursor: pointer;}
html { scroll-behavior: smooth; } 
body{font-family: 'Noto Sans KR', sans-serif;}
/*    point : rgb(237,125,49);  주황*/
/*    main : rgb(220,218,218);  연그레이*/
/*    sub : rgb(249,230,177);  노랑*/
/* font-family: 'Black Han Sans'; */
/* font-family: 'Gowun Batang'; */
/* font-family: 'Gowun Dodum'; */
/* font-family: 'NotoSerifKR'; */
/* 보더라인: rgba(177, 175, 175, 0.568); */


/* *************** header ******************** */


.web_header_outer,
.web_header,
.web_side_menu,
.web_sns_box,
.footer_sns_box{
    display: none;
}

.header_outer{
    position: relative;
    overflow: hidden;
}

.header{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(220,218,218);
    position: fixed;
    background-color: white;
    z-index: 9999;
    overflow: hidden;

}

.header .side_menu ul li .search .search_side{
    border-radius: 10px;
    border: 1px solid #ccc;
}


#lnb_chk{
    display: none;
}

#lnb_chk:checked ~ .label .open_chk{display: block;}
#lnb_chk ~ .label .open_chk{display: none;}

#lnb_chk:checked ~ .label .close_chk{display: none;}
#lnb_chk ~ .label .close_chk{display: block;}

#lnb_chk:checked ~ .lnb_menu{margin-left: 0px; transition: all 1s;}
#lnb_chk ~ .lnb_menu{margin-left: -1000px; transition: all 1.5s;}

.lnb_menu{
    position: fixed;
    /* 화면에 꽉 채우기 위해 absolute에서 변경 */
    top: 51px;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.lnb_menu li {
    height: 60px;
    line-height: 60px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 15px;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: bold;
    position: relative;
}


.lnb_menu ul li i.first{
    width: 30px;
    margin-right: 10px;
    text-align: center;
    color:  rgb(237,125,49); 
    font-size: 18px;
}


.lnb_menu ul li i.last{
    position: absolute;
    width: 30px;
    font-size: 20px;
    top:50%;
    transform: translateY(-50%);
    right: 3%;
}



.lnb_menu li:nth-child(3) i{font-size: 25px;}
.lnb_menu li:nth-child(5) i{font-size: 25px;}

.lnb_menu li a{
    width: 100%;
}


.lnb_menu p{
    text-align: justify;
}

.lnb_menu .business_title{
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 20px;
    text-align: left;
    font-family: 'Comic Neue', cursive;
    font-size: 4vh;
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
    
}

.lnb_menu p.business_eng{
    padding: 20px 5% 10px 5%;
    line-height: 20px;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    font-size: 11px;
    text-align: left;
}

.lnb_menu .business_right{
    padding: 20px 5% 10px 5%;
    line-height: 20px;
    font-family: 'Gaegu', cursive;
    font-weight: bold;
    font-size: 11px;
    text-align: right;
    font-weight: bolder;
}

/* .lnb_menu p.business_kor{
    padding: 20px 5% 10px 5%;
    line-height: 20px;
    font-family: 'IBM Plex Sans KR', sans-serif;
} */

.label{
    float: left;
    width: 10%;
    height: 50px;
    line-height: 60px;
    text-align: center;
}

.logo{
    float: left;
    width: 73%;
    height: 50px;
    line-height: 80px;
    text-align: center;
}

.logo img{
    height: 80%;
}

.side_menu{
    width: 80px;
    position: absolute;
    right: 0;
}

.side_menu li{
    float: left;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}


.side_menu li:nth-child(2){
    margin-left: 25px;
}


#search_box{display: none;}

#search_box:checked ~ .label_search .search_close{display: block;}
#search_box ~ .label_search .search_close{display: none;}


#search_box:checked ~ .label_search .search_open{display: none;}
#search_box ~ .label_search .search_open{display: block;}



#search_box:checked ~ .search{
    display: block;
    width: 87%;
}

#search_box ~ .search{display: none;}


.header .side_menu ul li .search{
    position: fixed;
    left: 2px;
    top: -3px;
}


.header .side_menu ul li .search .search_side{
    width:100%; 
    height:35px;
}



.box {
    position: relative;
  }
  
  .wave {
    position: absolute;
    background: rgb(249,230,177); 
    width: 120px;   
    height: 110px;
    transform-origin: 50% 48%;
    border-radius: 40%;
    animation: drift 3s infinite linear;
    opacity: 0.7;
    top: -10px;
    left: 50%;
  }

  .wave.-two {
    animation: drift 5s infinite linear;
    opacity: 0.3;
  }


  .wave.-three {
    animation: drift 7s infinite linear;
    opacity: 0.3; 
  }
  

  @keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }
  

/* ************* title******************** */


.title_box{
    margin-top: 70px;
    margin-bottom: 10px;
    padding: 0 10px;
    overflow: hidden;
}

.title_box h3{
    margin-bottom: 10px;
}

.title_box .title_menu{
    overflow: hidden;
    border-bottom: 1px solid rgb(220,218,218); 
    box-sizing: border-box;
}

.title_box .title_menu li {
    float: left;
    height: 60px;
    font-size: 15px;
    width: 100px;
    line-height: 40px;
}




.title_box #select_box{
    margin-top: 10px;
}

#select_box{
    float: right;
    width: 100px;
    height: 30px;
    padding: 0 20px 0 10px;
    border: none;
    border: 1px solid rgb(220,218,218);
    -webkit-appearance:none;
    background:url('../img/arrow.png') no-repeat 97% 50%/14px auto;
}



/* ************* content_box******************** */

.content_box{
    margin-top: 20px;
}

.content_box .content{
    padding: 0 10px; 
    overflow: hidden;
}

.content_box .content ul li{
    width: 49%;
    float: left;
}

.content_box .content ul li:nth-child(1),
.content_box .content ul li:nth-child(3){
    margin-right: 2%;
    margin-bottom: 30px;
}

.content_box .content ul li img{
    width: 100%;
    height: auto;
    display: block;
    
}


.content_box .content ul li .content_img{
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 5px 8px 0px;
}


.content_box .content ul li .content_img span{
    position: absolute;
    bottom: 10px; right: 12px;
    color: rgb(237,125,49);
    font-size: 1.6rem;
}


.content_box .content ul li .content_img span i:hover{
    content: "\f004";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}








.content_box .content ul li .content_text{
    margin-top: 10px;
    overflow: hidden;
}
.content_box .content ul li .content_text p:nth-child(1){
    display: inline-block;
    border: 1px solid rgb(237,125,49);
    font-size: 13px;
    padding: 3px;
    margin-bottom: 3px;
    border-radius: 5px;
}

.content_box .content ul li .content_text p:nth-child(2){
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }



.content_box .content ul li .content_text p:nth-child(3){
    margin-bottom: 6px;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(80, 78, 78); 
}

.content_box .content ul li .content_text p:nth-child(4){
    float: right;
    font-size: 13px;
}

.effect{
      animation: blink-effect 1.5s step-end infinite;
      background-color: rgb(237,125,49);
      color: white;
}

@keyframes blink-effect {
    50% {opacity: 0;}
}


/* ************* inform ******************** */

body{
    position: relative;
}



.inform .like{
    position: fixed;
    bottom: 30px;
    width: 80%; height: 50px;
    line-height: 50px;
    background-color: #000000b9;
    text-align: center;
    z-index: 998;
    margin: 0 10%;
    color:white;
    opacity: 0;
    transition: all 1s;
}
/* 제이쿼리 사용할때 none을 상단으로 옮길것 */



.content_box:hover  ~ .inform .add_like{
    animation: fadeout 3s;
    display: block;
}

@keyframes fadeout{
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}


/* ************* page_num ******************** */

.page_num ul{
    display: flex;
    justify-content: center;
    margin: 50px 0;
    height: 30px;
}

.page_num ul li{
    width: 30px;
    margin-right: 10px;
    box-sizing: border-box;
    text-align: center;
    line-height: 30px;
}

.page_num ul li.num:hover{
    overflow: hidden;
    background-color: rgba(237, 124, 49, 0.363);
    border-radius: 30px;
    font-weight: bold;
}








/* ************* footer ******************** */

.footer{
    background-color: rgb(249,230,177); ;
    height: 220px;
    position: relative;
}

.footer .footer_img img{
    width: 130px;
    height: 50px;
    margin-top: 20px;
}

#fam_site{
    position: absolute;
    width: 130px;
    height: 30px;
    right: 10px;
    top: 30px;
    font-size: 13px;
}

.footer ul li{
    padding-left: 15px;
}

.footer ul li p{
    font-size: 13px;
}

.footer ul li p span{
    font-size: 11px;
    border-left: 1px solid #5c5a5a;
}

.footer li .tel{
    font-size: 20px;
    font-weight: bold;
}

.footer li .day{
    float: left;
}


.footer{
    position: relative;
}


.footer .btn ul li.sns_btn a{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 120px;
    right: 12px;
    color: #666363;
    background-color: #fdf904;
    border-radius: 30px;
    border: 1px solid #f9f284;
}

.footer .btn ul li.sns_btn a i{
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    padding-left: 10px;
    animation: motion 0.3s linear 0s infinite alternate;
}


@keyframes motion {
	0% {margin-top: -3px;} 
	50% {margin-top: 0px;} 
	100% {margin-top: 1px;}
  }



.footer .btn ul li.top_btn a{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 70px;
    right: 12px;
    color: #03030362;
    background-color: #eee;
    border-radius: 30px;
    border: 1px solid #ccc;
}




.footer .btn ul li.bottom_btn a{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 12px;
    color: #03030362;
    background-color: #eee;
    border-radius: 30px;
    border: 1px solid #ccc;
}

.footer .btn ul li.top_btn a i,
.footer .btn ul li.bottom_btn a i{
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    padding-left: 9px;
}

.footer .btn ul li.bottom_btn a i{
    padding-top: 2px;
}

.footer .footer_sns_box{
    margin-right: 30px;
    float: right;
    overflow: hidden;

}

.footer .footer_sns_box ul{
    justify-content: end;
    font-size: 20px;
    display: inline-block;

}
.footer .footer_sns_box ul li{float: left;}


.footer .footer_sns_box ul li:nth-child(1) .footer_sns{color: red;}
.footer .footer_sns_box ul li:nth-child(2) .footer_sns{color: rgb(41, 19, 233);}
.footer .footer_sns_box ul li:nth-child(3) .footer_sns{color: rgb(44, 214, 44);}







/* ************* media ******************** */




@media all and ((min-width:601px)){


    /* header */

    .web_header_outer,
    .web_header,
    .web_side_menu,
    .web_sns_box,
    .tab_banner,
    .banner{
        display: none;
    }



    .header_outer{
        position: relative;
        overflow: hidden;
        margin-bottom: 80px;
    }
    
    .header{
        width: 100%;
        height: 80px;
        border-bottom: 1px solid rgb(220,218,218);
        position: fixed;
        background-color: white;
        z-index: 9999;
    }
    

    .header .side_menu ul li .search{
        position: fixed;
        background-color: white;
        left: 13px;
        top: -6px;
    }

    .header .side_menu ul li .search .search_side{
        width: 97%;
        height: 45px;
        font-size: 20px;
    }
    
        
    #search_box:checked ~ .search{
        width: 90%;
    }




    .lnb_menu{
        position: fixed;
        top: 81px;
        background-color: rgba(249, 230, 177);
        z-index: 100;
        width: 65%;
    }

    .lnb_menu li{
        height: 130px;
        line-height: 130px;
        padding-left: 5%;
        font-size: 20px;

    }


    .label{
        position: absolute;
        top: 17px;
        height: 60px;
        line-height: 60px;
        font-size: 20px;
    }

    .logo{
        width: 95%;
    }

    .logo img{
        height: 135%;
        margin-top: 10px;
    }

    .side_menu{
        width: 110px;
        position: absolute;
        right: 0;
    }

    .side_menu li{
        height: 80px;
        line-height: 80px;
        font-size: 25px;
    }

    .side_menu li:first-child{
        margin-right: 14px;
    }

    /* title */


    .title_box{
        margin-top: 111px;
        margin-bottom: 10px;
        padding: 0 10px;
        overflow: hidden;
    }
    
    .title_box h3{
        margin-bottom: 10px;
    }
    
    .title_box .title_menu{
        overflow: hidden;
        border-bottom: 1px solid rgb(220,218,218); 
        box-sizing: border-box;
    }
    
    .title_box .title_menu li{
        float: left;
        height: 40px;
        font-size: 13px;
        width: 70px;
        line-height: 40px;
    }
    
    

    /* content */

    .content_box {
        margin: 0 auto;
    }


    .content_box .content ul li:nth-child(1),
    .content_box .content ul li:nth-child(2),
    .content_box .content ul li:nth-child(3){
        width: 24.2%;
        float: left;
        margin-right: 1%
    }


    .content_box .content ul li:nth-child(4){
        margin-right: 0;
        width: 24.2%;
    }



/* footer */


.footer{
    height: 250px;
}

.footer ul li{
    padding-left: 25px;
}

.footer .footer_img img {
    width: 150px;
    height: 50px;
    margin-top: 20px;
}



.footer ul li p {
    font-size: 17px;
}

#fam_site {
    position: absolute;
    width: 150px;
    height: 30px;
    right: 10px;
    top: 30px;
    font-size: 15px;
}


.footer .footer_sns_box{
    display: block;
    margin-right: 30px;
    float: right;
    overflow: hidden;

}

.footer .footer_sns_box ul{
    justify-content: end;
    font-size: 20px;
    display: inline-block;

}
.footer .footer_sns_box ul li{float: left;}


.footer .footer_sns_box ul li:nth-child(1) .footer_sns{color: red;}
.footer .footer_sns_box ul li:nth-child(2) .footer_sns{color: rgb(41, 19, 233);}
.footer .footer_sns_box ul li:nth-child(3) .footer_sns{color: rgb(44, 214, 44);}




}



@media all and ((min-width:1024px)){



    /* header */

    .header_outer,
    .header,
    .side_menu,
    .sns_box,
    .banner,
    .tab_banner{
        display: none;
    }


    .web_header_outer,
    .web_header,
    .web_side_menu,
    .web_sns_box{
        display: block;
    }

    .visual_main,
    .content,
    .icon_box,
    .product,
    .brand_box,
    .tab_menu,
    .footer,
    .web_banner,
    .web_lnb_menu,
    .title_box{
        width: 1024px;
        margin: 0 auto;
    }



    .web_header_outer{
        height: 200px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgb(220,218,218);
        position: relative;
    }

    .web_header_outer .web_logo{
        animation-duration: 3s;
        animation-name: slidein;
    }

    @keyframes slidein {
        0%{opacity: 0;margin-left: -30%;}
        100%{opacity: 1; margin-left: 0%;}
      }


    .web_header_outer .web_logo{
        text-align: center;
    }

    .web_header_outer .web_logo img{
        width: 300px;
        height: 90px;
        z-index: 10;
        position: relative ;
    }

    
    .web_lnb_menu_outer .web_lnb_menu{
        width: 600px;
        margin: 0 auto;
        text-align: center;
        padding-left: 265px;
    }

    .web_lnb_menu_outer .web_lnb_menu li{
        float: left;
        height: 60px;
        line-height: 60px;
        font-size: 18px;
        margin-right: 35px;
        font-family: 'IBM Plex Sans KR', sans-serif;
        font-weight: 700;
    }

    .web_lnb_menu_outer{
        width: 100%;
    }

    .lnb_menu_down_box{
        display: none;
    }

    .lnb_menu_down_box{
        width: 100%;
        background-color: rgba(249, 230, 177, 0.788);
    }

    .web_lnb_menu_outer:hover .lnb_menu_down_box{
        display: block;
        position: absolute;
        top: 200px;
        background-color: rgba(249, 230, 177, 0.836);
        z-index: 9999;
        height: 350px;
    }


    .web_lnb_menu_outer .web_lnb_menu li:hover a{
        border-bottom: 1px solid rgb(237,125,49);
        box-sizing: border-box;
    }

    .lnb_menu_down{
        width: 1024px;
        margin: 0 auto;
    }





    .web_lnb_menu_outer:hover .lnb_menu_down ul{
        float: left;
    }

    .lnb_menu_down ul{
        margin: 0 auto;
        margin-right: 30px;
        font-family: 'Noto Sans KR', sans-serif;
    }


    .lnb_menu_down ul li a{
        font-size: 15px;
        height: 50px;
        line-height: 50px;
    }


    .web_header_outer .lnb_menu_down_box ul:nth-child(1){margin-left: 330px; margin-right: 40px;}
    .web_header_outer .lnb_menu_down_box ul:nth-child(2){margin-right: 40px;}
    .web_header_outer .lnb_menu_down_box ul:nth-child(3){margin-right: 30px;}
    .web_header_outer .lnb_menu_down_box ul:nth-child(4){margin-right: 45px;}


    /* side_menu */


    .web_header_outer .web_side_menu{
        height: 40px;
        line-height: 30px;
/*         background: linear-gradient(rgba(237, 124, 49, 0.473) -90%, white); */
        text-align: right;
        width: 100%;
        position: relative;

    }

    .web_header_outer .web_side_menu ul{
        float: right;
        width: 180px;
    }

        
    .web_header_outer .web_side_menu ul li a,
    .web_header_outer .web_side_menu ul{
        color: #313131;
    }


    .web_header_outer .web_side_menu ul li span{
        margin-right: 10px;
        font-size: 12px;
    }

    .web_header_outer .web_side_menu ul li i:hover{
        color: rgb(237,125,49);
    }


    .web_header_outer .web_side_menu ul li:nth-child(1){
        margin-right: 15px;
    }

    .web_header_outer .web_side_menu ul li{
        font-size: 15px;
        float: left;
    }
    
    
    #web_search_box{display: none;}
    
    #web_search_box:checked ~ .web_label_search .search_close{display: block;}
    #web_search_box ~ .web_label_search .search_close{display: none;}
    
    
    #web_search_box:checked ~ .web_label_search .search_open{display: none;}
    #web_#search_box ~ .web_label_search .search_open{display: block;}
    
    
    
    #web_search_box:checked ~ .web_search{
        display: block;
        width: 100%;
        z-index: 9999;
    }
    
    #web_search_box ~ .web_search{display: none;}
    

    .web_side_menu{
        position: relative;
    }


    .web_search{
        position: absolute;
        top: 50px;
        left: -55px;
    }

    .web_search input{
        width: 290px;
        height: 35px;
        font-size: 15px;
        border-radius: 10px;
        border: 1px solid #ccc;
    }


    /* title */

    .title_box h3{
        padding-left: 20px;
        margin-bottom: 30px;
    }

    .title_box {
        margin-top: 28px;
        margin-bottom: 30px;
        font-size: 20px;
    }


    .title_box .title_menu{
        height: 42px;
    }

    .title_box .title_menu li{
        text-align: center;
        font-size: 14px;
    }
    .title_box .title_menu li:hover {
        border-bottom: 1px solid rgb(237,125,49);
    }


    /* content */
    .content_box .content ul li img{
        width: 249px;
        height: auto;
        display: block;
        transition: all 0.3s;
    }

    .content_box .content ul li:hover img{
        scale: 1.1;
        overflow: hidden;
    }


.inform .like{

    display: none;

}
/* 제이쿼리 사용할때 none을 상단으로 옮길것 */



.content_box:hover  ~ .inform .add_like{
    display: none;
}







    /* footer */

    .footer_outer{
        width: 100%;
        background-color: rgb(249,230,177); 
    }

    .footer ul li p {
        font-size: 13px;
    }
    




}


