@font-face {
    font-family: 'NotoSerifKR';
    src: url('NotoSerifKR-Medium-Alphabetic.eot');
    src: url('NotoSerifKR-Medium-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('NotoSerifKR-Medium-Alphabetic.woff2') format('woff2'),
        url('NotoSerifKR-Medium-Alphabetic.woff') format('woff'),
        url('NotoSerifKR-Medium-Alphabetic.ttf') format('truetype'),
        url('NotoSerifKR-Medium-Alphabetic.svg#NotoSerifKR-Medium-Alphabetic') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gowun Batang';
    src: url('GowunBatang-Bold.eot');
    src: url('GowunBatang-Bold.eot?#iefix') format('embedded-opentype'),
        url('GowunBatang-Bold.woff2') format('woff2'),
        url('GowunBatang-Bold.woff') format('woff'),
        url('GowunBatang-Bold.ttf') format('truetype'),
        url('GowunBatang-Bold.svg#GowunBatang-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gowun Batang';
    src: url('GowunBatang-Regular.eot');
    src: url('GowunBatang-Regular.eot?#iefix') format('embedded-opentype'),
        url('GowunBatang-Regular.woff2') format('woff2'),
        url('GowunBatang-Regular.woff') format('woff'),
        url('GowunBatang-Regular.ttf') format('truetype'),
        url('GowunBatang-Regular.svg#GowunBatang-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('NotoSerifKR-Black-Alphabetic.eot');
    src: url('NotoSerifKR-Black-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('NotoSerifKR-Black-Alphabetic.woff2') format('woff2'),
        url('NotoSerifKR-Black-Alphabetic.woff') format('woff'),
        url('NotoSerifKR-Black-Alphabetic.ttf') format('truetype'),
        url('NotoSerifKR-Black-Alphabetic.svg#NotoSerifKR-Black-Alphabetic') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('NotoSerifKR-SemiBold-Alphabetic.eot');
    src: url('NotoSerifKR-SemiBold-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('NotoSerifKR-SemiBold-Alphabetic.woff2') format('woff2'),
        url('NotoSerifKR-SemiBold-Alphabetic.woff') format('woff'),
        url('NotoSerifKR-SemiBold-Alphabetic.ttf') format('truetype'),
        url('NotoSerifKR-SemiBold-Alphabetic.svg#NotoSerifKR-SemiBold-Alphabetic') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('NotoSerifKR-Regular-Alphabetic.eot');
    src: url('NotoSerifKR-Regular-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('NotoSerifKR-Regular-Alphabetic.woff2') format('woff2'),
        url('NotoSerifKR-Regular-Alphabetic.woff') format('woff'),
        url('NotoSerifKR-Regular-Alphabetic.ttf') format('truetype'),
        url('NotoSerifKR-Regular-Alphabetic.svg#NotoSerifKR-Regular-Alphabetic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('NotoSerifKR-ExtraLight-Alphabetic.eot');
    src: url('NotoSerifKR-ExtraLight-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('NotoSerifKR-ExtraLight-Alphabetic.woff2') format('woff2'),
        url('NotoSerifKR-ExtraLight-Alphabetic.woff') format('woff'),
        url('NotoSerifKR-ExtraLight-Alphabetic.ttf') format('truetype'),
        url('NotoSerifKR-ExtraLight-Alphabetic.svg#NotoSerifKR-ExtraLight-Alphabetic') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('NotoSerifKR-Bold-Alphabetic.eot');
    src: url('NotoSerifKR-Bold-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('NotoSerifKR-Bold-Alphabetic.woff2') format('woff2'),
        url('NotoSerifKR-Bold-Alphabetic.woff') format('woff'),
        url('NotoSerifKR-Bold-Alphabetic.ttf') format('truetype'),
        url('NotoSerifKR-Bold-Alphabetic.svg#NotoSerifKR-Bold-Alphabetic') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Black Han Sans';
    src: url('BlackHanSans-Regular.eot');
    src: url('BlackHanSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('BlackHanSans-Regular.woff2') format('woff2'),
        url('BlackHanSans-Regular.woff') format('woff'),
        url('BlackHanSans-Regular.ttf') format('truetype'),
        url('BlackHanSans-Regular.svg#BlackHanSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSerifKR-Light';
    src: url('NotoSerifKR-Light-Alphabetic.eot');
    src: url('NotoSerifKR-Light-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('NotoSerifKR-Light-Alphabetic.woff2') format('woff2'),
        url('NotoSerifKR-Light-Alphabetic.woff') format('woff'),
        url('NotoSerifKR-Light-Alphabetic.ttf') format('truetype'),
        url('NotoSerifKR-Light-Alphabetic.svg#NotoSerifKR-Light-Alphabetic') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gowun Dodum';
    src: url('GowunDodum-Regular.eot');
    src: url('GowunDodum-Regular.eot?#iefix') format('embedded-opentype'),
        url('GowunDodum-Regular.woff2') format('woff2'),
        url('GowunDodum-Regular.woff') format('woff'),
        url('GowunDodum-Regular.ttf') format('truetype'),
        url('GowunDodum-Regular.svg#GowunDodum-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

